
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Airbus Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/">Acceuil</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos Produits
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/product">Chercher</a></li>
          <li><a routerLink="/new-product">Ajouter</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="col-md-3">
      <ul class="list-group" *ngIf="categories">
        <li class="list-group-item" *ngFor="let c of categories._embedded.categories">
          {{c.name}}
        </li>
      </ul>
    </div>
</div>

<div class="col-md-9">
  <router-outlet>

  </router-outlet>
</div>

<div class="footer">
  <p>|| Create & Dream Enterprise 2019 ||</p>
</div>

<router-outlet> </router-outlet>
