<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Airbus Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="onselectedProducts()" routerLink="/">Acceuil</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Nos Produits
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/products">Chercher</a></li>
          <li><a routerLink="/new-product">Ajouter</a></li>

        </ul>
      </li>
      <li><a href="https://www.facebook.com/?ref=tn_tnmn">Facebook</a></li>
      <li><a href="https://www.linkedin.com/company/accueil/about/">Linkedin</a></li>
    </ul>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">rechercher</button>
    </form>
  </div>
</nav>
<div class="container">
  <div class="col-md-3">
    <ul class="list-group">
      <li [ngClass]="currentCategorie==book?'active':''" (click)="getProductsByCat(book)" class="list-group-item clickable" *ngFor="let book of category">{{ book.name }}</li>
    </ul>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <p>|| Create & Dream Enterprise 2019 ||</p>
</div>

<router-outlet> </router-outlet>
